
.navbar-container {
    height: 10rem;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    box-shadow: rgba(31, 67, 83, 0.5) 0px 20px 100px -30px;
}

.navbar-mobile {
    display: none;
}

.navbar-non-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
}

.navbar-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 18%;
}

.navbar-logo span {
    text-align: center;
    font: 700 2.5rem 'Inter';
}

.navbar-logo span a {
    text-decoration: none;
    color: black;
}

.navbar-menu {
    display: none;
}

.navbar-links {
    display: flex;
    justify-content: center;
    width: 60%;
}

.navbar-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3rem;
}

.navbar-links ul li {
    list-style: none;
    margin: 0rem 5rem;
}

.navbar-links ul li a {
    text-decoration: none;
    color: black;
    font: 700 2rem 'Inter';
}

.navbar-links ul li a:hover {
    color: var(--color-primary-dark-blue);
    border-bottom: 0.3rem solid var(--color-primary-dark-blue);
    padding-bottom: 0.7rem;
}

.social-links {
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    width: 22%;
}

.social-links ul {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.social-links ul li {
    list-style: none;
    margin: 0rem 2.5rem;
}

.social-links ul img {
    width: 3.5rem;
}


@media screen and (max-width: 1500px) {
    .navbar-non-mobile {
        flex-direction: column;
    }

    .navbar-logo {
        margin-top: 2rem;
        width: 25%;
    }

    .navbar-links {
        width: 100%;
    }

    .social-links {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .navbar-logo span {
        font-size: 2rem;
    }

    .navbar-links ul li {
        margin: 0rem 2.5rem;
    }

    .navbar-links ul li a {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar-logo {
        width: 40%;
        position: absolute;
        top: -1rem;
        left: 2rem;
        right: 0;
    }
    
    .navbar-logo span {
        font-size: 1.6rem;
    }

    .navbar-menu {
        display: flex;
        position: absolute;
        top: 4rem;
        right: 4rem;
    }

    .navbar-menu button {
        background-color: transparent;
        border-radius: 2.5rem;
        padding: 1rem 1.3rem;
        border: 0.25rem solid var(--color-white);
    }

    .navbar-menu button:hover {
        cursor: pointer;
    }

    .navbar-menu button i {
        font-size: 2rem;
    }

    .navbar-links {
        display: none;
    }

    .navbar-mobile {
        display: none;
        z-index: 999;
        transform: translate(50rem, 0);
        flex-direction: column;
        align-items: flex-end;
        width: 250%;
        height: 100vh;
        background-color: var(--color-white);
        transition: 0.5s all ease-in-out;
        overflow-y: hidden;
    }

    .navbar-exit {
        display: flex;
        margin-top: 4rem;
        margin-right: 2.8rem;
        background-color: transparent;
    }

    .navbar-exit button {
        background-color: transparent;
        padding: 1rem 1.5rem;
        border-radius: 2.5rem;
        border: 0.25rem solid var(--color-white);
        box-shadow: rgba(31, 67, 83, 0.5) 0px 7px 18px 0px, 
                rgba(0, 0, 0, 0.3) 0px 0px 0px 0px,  
                rgba(38, 11, 63, 0.3) 0px 0px 0px 0px inset;
        
    }

    .navbar-exit button:hover {
        cursor: pointer;
    }

    .navbar-exit button i {
        font-size: 2rem;
    }

    .navbar-logo-mobile {
        display: flex;
        flex-direction: row;
        height: 5rem;
        margin-right: 3.5rem;
        margin-top: 8rem;
    }

    .navbar-logo-mobile span {
        font: 700 2.3rem 'Inter';
    }

    .navbar-logo-mobile span a {
        text-decoration: none;
        color: black;
    }

    .navbar-quote {
        display: flex;
        margin-top: 1rem;
        height: 3rem;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        margin-right: 3.5rem;
    }

    .navbar-quote span {
        font: 400 1.1rem 'Noto Sans Mono';
        color: var(--color-primary-dark-blue);
    }

    .navbar-div {
        display: flex;
        margin-right: 3.5rem;
        margin-top: 1rem;
        width: 80%;
        opacity: 0.5;
    }

    .navbar-links ul {
        display: none;
    }

    .navbar-mobile ul {
        display: flex;
        height: 60%;
        width:100%;
        margin-right: 3.5rem;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .navbar-mobile ul li {
        margin: 1.5rem 0;
        list-style: none;
    }

    .navbar-mobile ul li a {
        font: 500 1.4rem 'Noto Sans Mono';
        text-decoration: none;
        color: black;
    }

    .navbar-mobile ul li a:hover {
        border: none;
        color: var(--color-primary-dark-blue);
        padding-bottom: 0.7rem;
    }

    .navbar-social-mobile {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .social-mobile-header {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .social-mobile-header span {
        margin-right: 3.5rem;
        font: 500 1.5rem 'Noto Sans Mono';
        color: var(--color-primary-dark-blue);
    }

    .navbar-social-mobile ul {
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navbar-social-mobile ul li {
        list-style: none;
        margin: 0rem 2.5rem;
        width: 0.5rem;
    }

    .navbar-social-mobile ul li img {
        width: 2.5rem;
    }
}